---
import RootLayout from "@/layouts/RootLayout.astro";
import { AArrowDownIcon } from "lucide-react";
import { Button, buttonVariants } from "@/components/ui/button";
import { getPlacedStudents } from "@/server/utils/placement-details";
import Heading from "@/components/Heading";
import PlacedStudentsComponent from "@/components/PlacedStudents";
import { Separator } from "@/components/ui/separator";

export const prerender = false;

const { authSession } = Astro.locals;

const NUM_PLACED_STUDENTS = 5;
const placedStudents = await getPlacedStudents({ limit: NUM_PLACED_STUDENTS });
---

<RootLayout>
  <div class="flex flex-col gap-5">
    <Heading
      title="Placed Students"
      description="List of few placed students"
    />
    <Separator />
    <PlacedStudentsComponent placedStudents={placedStudents} client:load />
    <a class={buttonVariants()} href="/placed-students">Show all...</a>
  </div>
</RootLayout>
