---
import Head from "@/components/Head.astro";
import HeaderAccount from "@/components/HeaderAccount";
import { ClientRouter } from "astro:transitions";
import NavigationBar from "@/components/NavigationBar";

import "@/styles/global.css";
import { Toaster } from "@/components/ui/sonner";

const { title } = Astro.props;
const { authSession } = Astro.locals;
---

<html lang="en">
  <Head title={title}>
    <ClientRouter />
  </Head>
  <body>
    <header class="sticky top-0 px-5 py-3 border-b border-gray-300">
      <div class="flex justify-between items-center max-w-5xl mx-auto">
        <a href="/">
          <h1 class="font-semibold">College Project</h1>
        </a>
        <div class="flex gap-2.5 md:gap-5">
          <NavigationBar
            menuItems={[
              {
                name: "Upcoming companies",
                href: "/upcoming-companies",
                id: "upcoming_companies_item",
              },
              {
                name: "Placed students",
                href: "#",
                id: "placed_stduents_item",
              },
              {
                name: "Contact",
                href: "/contact",
                id: "contact_item",
              },
            ]}
            client:load
          />
          <HeaderAccount initialAuthSession={authSession} client:load />
        </div>
      </div>
    </header>
    <div class="p-5">
      <div class="max-w-5xl mx-auto">
        <slot />
      </div>
    </div>
    <footer class="p-5 border-t">
      <div class="max-w-5xl mx-auto">
        <a href="/" class="font-semibold">College Project</a>
      </div>
    </footer>
    <Toaster
      client:load
      theme="light"
      toastOptions={{
        style: {
          fontFamily: "var(--font-sans)",
        },
      }}
      richColors
    />
  </body>
</html>
